mixin title(name)
    .title-container
        .title= name
        img(src="./../assets/images/title-dark.png" alt="")

mixin buttonText(name)
    .buttonText= name

mixin addChampagne(champagne)
    .champagne-card
        .img-container
            a(href="/detail.html") 
                img(src=`./../assets/products/${champagne.img}` alt="champagne")
            .action 
                .action-item
                    i.fa.fa-heart 
                    span Yêu thích
                .action-item
                    i.fa.fa-bar-chart 
                    span So sánh
                .action-item
                    i.fa.fa-compress
            if champagne.type !== "none"
                case champagne.type 
                    when "sale"
                        .tag-anchor.sale
                            .text Sale
                    when "new"
                        .tag-anchor.new
                            .text New
                    when "hot"
                        .tag-anchor.hot
                            .text Hot
        a.name(href="/detail.html")= champagne.name
        .price 
            span.originPrice
                span= champagne.originPrice
                sup đ
            span &nbsp;-&nbsp;
            span.salePrice
                span= champagne.salePrice
                sup đ
        +buttonText("ADD TO CART")

mixin addListViewChampagne(champagne)
    .row.listViewCard
        .col-12.col-lg-3
            a(href="/detail.html")
                img(src=`./../assets/products/${champagne.img}` alt="champagne")
        .col-12.col-lg-9.mx-2.mx-md-0
            .name
                a(href="/detail.html")= champagne.name
            .price 
                span
                    span= champagne.price
                    sup đ
            .description= champagne.description
            .action-product
                +buttonText("ADD TO CART")
                .action-child
                    i.fa.fa-heart 
                    span Yêu thích
                .action-child
                    i.fa.fa-compress 
                    span So sánh

mixin productSlider(products)
    .product-slider
        .product-bound
            .prevBtn
                i.fa.fa-arrow-left
            .nextBtn.disabled
                i.fa.fa-arrow-right
            for product in products 
                .item
                    +addChampagne(product)

mixin slider(items)
    #carouselExampleControls.carousel.slide(data-ride='carousel')
    #newsProductCarousel.carousel.slide(data-ride="carousel")
        .carousel-inner.container-fluid
            for el, ind in Array(items.length/4)
                .carousel-item(class={active : ind === 0})
                    .container-fluid
                        .row 
                            for el2, ind2 in Array(4)
                                .item.col-6.col-sm-3
                                    +addChampagne(items[ind * 4 + ind2])

mixin addBlog(blog)
    .img
        a(href="/blog-detail.html") 
            img(src=`./../assets/images/${blog.img}` alt="")
            .icon 
                i.fa.fa-link
    .title
        a(href="/blog-detail.html")= blog.title
    .description= "Đăng bởi " + blog.postedBy + " | " + blog.postedDate + " | " + blog.commentQty + " bình luận"
    p.content= blog.content
    .more Read more

mixin dotPagi(totalPage, currentPage)
    - let i = 0
    .pagi 
        while i < totalPage
            i.fa.fa-circle(class={active : i === currentPage - 1})
            - i++

mixin breadcrumb(arr)
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            for item, index in arr
                if index === arr.length - 1
                    li.breadcrumb-item.active(aria-current='page')= item
                else 
                    li.breadcrumb-item
                        a(href='#')= item

mixin titleWithArrow(name)
    .title= name 
    img(src="./../../assets/images/titleleft-dark.png" alt="")

mixin postNews(news)
    .post.row 
        .img.col-4
            a(href="")
                img(src=`./../../assets/images/${news.img}` alt="")
        .content.col-8 
            .title
                a(href="")= news.name
            .date
                i.fa.fa-calendar-o
                span= " " + news.date

mixin blogTags(tags)
    .tag-container
        for tag in tags
            .tag(class={active : tag.active})
                span= tag.name

mixin formInput(name, type, value = "", titleBreakpoint = 2)
    .input-item.row
        if type === "checkbox"
            .input.col-12(class=`col-md-${12 - titleBreakpoint} offset-md-${titleBreakpoint}`)
                input(type="checkbox" checked=value.checked id=value.id)
                label(for=value.id)= name
        else
            .input-title.col-12(class=`col-md-${titleBreakpoint}`)
                span= name
                span *
            .input.col-12(class=`col-md-${12 - titleBreakpoint}`)
                case type 
                    when "text"
                        input(type="text" value=value)
                    when "password"
                        input(type="text" value=value)
                    when "textarea"
                        textarea(rows="10")= value
                    when "select"
                        select
                            for option in value.options
                                option(value=option selected=value.value===option)= option

mixin statusItem(status)
    case status 
        when "ALL"
            .status-item= "Trạng thái tát cả (" + listOrders.length + ")"
        default
            .status-item= `${orderStatuses.find(stt => stt.key === status).name} (${listOrders.filter(order => order.status === status).length})`