mixin title(name)
    .title-container
        .title= name
        img(src="./../assets/images/title-dark.png" alt="")

mixin buttonText(name)
    .buttonText= name

mixin addChampagne(champagne)
    .champagne-card
        a(href="/detail.html") 
            img(src=`./../assets/products/${champagne.img}` alt="champagne")
        a.name(href="/detail.html")= champagne.name
        .price 
            span.originPrice
                span= champagne.originPrice
                sup đ
            span &nbsp;&nbsp;
            span.salePrice
                span= champagne.salePrice
                sup đ
        +buttonText("ADD TO CART")

mixin addListViewChampagne(champagne)
    .row.listViewCard
        .col-12.col-lg-3
            img(src=`./../assets/products/${champagne.img}` alt="champagne")
        .col-12.col-lg-9.mx-2.mx-md-0
            .name= champagne.name
            .price 
                span
                    span= champagne.price
                    sup đ
            .description= champagne.description
            .action-product
                +buttonText("ADD TO CART")
                .action-child
                    i.fa.fa-heart 
                    span Yêu thích
                .action-child
                    i.fa.fa-compress 
                    span So sánh

mixin productSlider(products)
    .product-slider.container-fluid
        .product-bound.row
            .prevBtn
                i.fa.fa-arrow-left
            .nextBtn.disabled
                i.fa.fa-arrow-right
            for product in products 
                .item.col-6.col-sm-3
                    +addChampagne(product)

mixin slider(items)
    #carouselExampleControls.carousel.slide(data-ride='carousel')
    #newsProductCarousel.carousel.slide(data-ride="carousel")
        .carousel-inner.container-fluid
            for el, ind in Array(items.length/4)
                .carousel-item(class={active : ind === 0})
                    .container-fluid
                        .row 
                            for el2, ind2 in Array(4)
                                .item.col-6.col-sm-3
                                    +addChampagne(items[ind * 4 + ind2])

mixin addNews(news)
    .img
        img(src=`./../assets/images/${news.img}` alt="")
    .title= news.title 
    .description= "Đăng bởi " + news.postedBy + " | " + news.postedDate + " | " + news.commentQty + " bình luận"
    p.content= news.content
    .more Read more

mixin dotPagi(totalPage, currentPage)
    - let i = 0
    .pagi 
        while i < totalPage
            i.fa.fa-circle(class={active : i === currentPage - 1})
            - i++

mixin breadcrumb(name = "Rượu vang đỏ")
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Trang chủ
            li.breadcrumb-item
                a(href='#') Sản phẩm
            li.breadcrumb-item.active(aria-current='page')= name

mixin titleWithArrow(name)
    .title= name 
    img(src="./../../assets/images/titleleft-dark.png" alt="")
