footer
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        i.fa.fa-times
                .modal-body
                    .modal-container 
                        .container-fluid 
                            .row 
                                .img.col-3.d-none.d-sm-block
                                    img(src="./../assets/images/4d4a67fe55cf4c8c032823b993944af7.jpg" alt="")
                                .content.col-12.col-sm-9.px-0.px-sm-5
                                    .content-container
                                        .title GỬI EMAIL
                                        p.tutorial Đăng ký email ngay hôm nay để nhận được thông tin về các sự kiện, các chương trình giảm giá của chúng tôi sớm nhất!
                                        form
                                            .form-item.mx-1.mx-sm-0
                                                input(type="text" placeholder="Email của bạn...")
                                                input(type="submit", value="GỬI EMAIL")
                                            input#not-again.my-3(type="checkbox")
                                            label.mx-1.my-3(for="not-again") Không hiển thị lại thông báo này
    .container-fluid
        .label.row.my-3
            for label in labels 
                .item.col-12.col-sm-4
                    img(src=`./../assets/images/${label.img}` alt=label.name)
        .row 
            .col-12.col-md-5
                .row 
                    for list in footerList 
                        .col-6
                            .title= list.name
                            for item in list.list
                                .item
                                    a(href=item.link)= item.name
            .col-12.col-md-7
                .row 
                    .send-email.col-12.col-lg-6
                        .title GỬI EMAIL
                        .description Gửi email cho chúng tôi để được hỗ trợ
                        .input
                            input(type="text" placeholder="Enter your email")
                            button.button(data-toggle="modal" data-target="#exampleModal") GỬI
                        .icons 
                            for icon in footerIcons 
                                i.fa(class=`fa-${icon.icon}`)
                    .col-12.col-lg-6
                        .title LIÊN HỆ
                        .contact-item
                            i.fa.fa-map-marker
                            span Tầng 4, Tòa nhà Hà Nội Group, số 442 Đội Cấn, P.Cổng Vị, Q.Ba Đình, Hà Nội
                        .contact-item 
                            i.fa.fa-phone 
                            span (04) 66776677
                        .contact-item 
                            i.fa.fa-envelope 
                            span support@bizweb.com
        .copyright.row
            .col-12.col-md-6.p-0
                i.fa.fa-copyright
                span &nbsp;Copyright 2008-2015 DKT Technology JSC
            .banking.col-12.col-md-6.p-0
                i.fa.fa-cc-visa
                i.fa.fa-cc-paypal