extend layouts/layout

block title
    title Chi tiết

block content
    include partials/header
    main#detail
        .container-fluid
            +breadcrumb(["Trang chủ", "Sản phẩm", "Rượu vang đỏ"])
            .row.mb-5
                .image-container.col-12.col-md-6.offset-md-3.col-lg-6.offset-lg-0
                    .image-content.row.h-100
                        .image-list.col-2
                            .arrow-item.row.m-0
                                i.fa.fa-arrow-up
                            .image-list-container
                                for img in productImgs
                                    .image-item.row.m-0
                                        input(
                                            type="radio"
                                            name="photo"
                                            id=img.name
                                            class=`photo-${img.name}`
                                            value=img.name
                                            checked=img.active
                                        )
                                        label.label-photo.w-100.h-100.p-0(
                                            for=img.name
                                            class=img.name
                                        )
                                            img(src=`./../assets/products/${img.img}` alt=img.alt)
                            .arrow-item.row.m-0
                                i.fa.fa-arrow-down
                        .photo.col-10
                            img(src="./../assets/products/1.jpg" alt="")
                .info-container.col-12.col-md-6.offset-md-3.col-lg-6.offset-lg-0
                    .title
                    img(src="./../assets/images/titleleft-dark.png" alt="")
                    .price
                        span 330.000
                        sup đ
                    .rate 
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
                        i.fa.fa-star-o
                        span &nbsp;1 Review(s)
                        span &nbsp;|&nbsp;
                        span Add Your Review
                    form#add-form(method="post")
                        input(type="hidden" name="id")
                        .label MÀU SẮC
                        .color
                            for color in colors
                                input(
                                    type="radio"
                                    name="color"
                                    id=color.name
                                    value=color.name
                                    checked=color.active
                                )
                                label.label-color(class=`color-${color.name}` for=color.name)
                        .label KÍCH CỠ
                        select(name="size")
                            option(value="large") Loại to
                            option(value="medium") Loại vừa
                            option(value="small") Loại nhỏ
                        .label SỐ LƯỢNG 
                        .number-qty 
                            button#minus-btn(type="button")
                                i.fa.fa-minus
                            .number
                                input(type="number" name="qty" value="1")
                            button#plus-btn(type="button")
                                i.fa.fa-plus
                            button(type="submit").smallButtonText ADD TO CART
                    .action
                        .action-item
                            i.fa.fa-heart
                            span &nbsp;Yêu thích
                        .action-item
                            i.fa.fa-bar-chart
                            span &nbsp;So sánh
                        .action-item
                            i.fa.fa-envelope
                            span &nbsp;Email
                    .label MÔ TẢ
                    p.description
                    .network 
                        .facebook 
                            i.fa.fa-facebook-square
                            span &nbsp;Like
                        .twitter 
                            i.fa.fa-twitter
                            span &nbsp;Tweet
                        .google 
                            i.fa.fa-google-plus
                            span &nbsp;1
                        .linkedin 
                            i.fa.fa-linkedin
                            span &nbsp;Share
            .info.row
                .tab.col-12.col-lg-8
                    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                        for item, index in productDescriptions
                            li.nav-item
                                a.nav-link(
                                    id=`pills-${item.key}-tab`
                                    data-toggle='pill'
                                    href='#pills-' + item.key
                                    role='tab'
                                    aria-controls='pills-' + item.key
                                    aria-selected=`${index === 0 ? "true" : "false"}`
                                    class={active : index === 0}
                                )= item.name
                    #pills-tabContent.tab-content
                        for item, index in productDescriptions
                            .tab-pane.fade(
                                id='pills-' + item.key
                                role='tabpanel'
                                aria-labelledby=`pills-${item.key}-tab`
                                class={"show active" : index === 0}
                            )
                .img.col-12.col-lg-4
                    img(src="./../assets/images/Depositphotos_3010981_original1.jpg" alt="wine champagne")
        +title("SẢN PHẨM LIÊN QUAN")
        +productSlider(champagnes)
    include partials/footer

    .toast-container.position-fixed.top-0.end-0.p-3

    .spinner.active
        .spinner-border.text-warning(role='status')
        span.visually-hidden Loading...

block module 
    script(type="module" src="./js/vars.js")
    script(type="module" src="./js/mixin.js")
    script(type="module" src="./js/apis.js")
    script(type="module" src="./js/detail.js")
