extend layouts/layout

block title
    title Chi tiết

block content
    include partials/header
    main#detail
        .container-fluid
            +breadcrumb
            .row.mb-5
                .image-container.col-12.col-lg-6
                    .row.h-100
                        .image-list.col-2
                            .item.row.m-0
                                i.fa.fa-arrow-up
                            for img in productImgs
                                .item.row.m-0
                                    input(
                                        type="radio"
                                        name="photo"
                                        id=img.name
                                        class=`photo-${img.name}`
                                        value=img.name
                                        checked=img.active
                                    )
                                    label.label-photo.w-100.h-100.p-0(
                                        for=img.name
                                        class=img.name
                                    )
                                        img(src=`./../assets/products/${img.img}` alt=img.alt)
                            .item.row.m-0
                                i.fa.fa-arrow-down
                        .photo.col-10
                            img(src="./../assets/products/1.jpg" alt="")
                .info-container.col-12.col-lg-6
                    .title RƯỢU NHO NĂM 1987
                    img(src="./../assets/images/titleleft-dark.png" alt="")
                    .price
                        span 330.000
                        sup đ
                    .rate 
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
                        i.fa.fa-star-o
                        span &nbsp;1 Review(s)
                        span &nbsp;|&nbsp;
                        span Add Your Review
                    .label MÀU SẮC
                    .color
                        for color in colors
                            input(
                                type="radio"
                                name="color"
                                id=color.name
                                value=color.name
                                checked=color.active
                            )
                            label.label-color(class=`color-${color.name}` for=color.name)
                    .label KÍCH CỠ
                    select
                        option(value="large") Loại to
                        option(value="medium") Loại vừa
                        option(value="small") Loại nhỏ
                    .label SỐ LƯỢNG 
                    .number-qty 
                        .icon 
                            i.fa.fa-minus
                        .number
                            input(type="text" value="3")
                        .icon 
                            i.fa.fa-plus
                        .button-text ADD TO CART
                    .action 
                        i.fa.fa-heart
                        span &nbsp;Yêu thích
                        i.fa.fa-compress
                        span &nbsp;So sánh
                        i.fa.fa-envelope
                        span &nbsp;Email
                    .label MÔ TẢ
                    p Một hợp chất có trong rượu vang được gọi là revestrato có khả năng làm tăng tối đa tuổi thọ. Revestrato có khả năng ngăn chặn mật độ oxy hóa của protein béo.
                    .network 
                        .facebook 
                            i.fa.fa-facebook-square
                            span &nbsp;Like
                        .twitter 
                            i.fa.fa-twitter
                            span &nbsp;Tweet
                        .google 
                            i.fa.fa-google-plus
                            span &nbsp;1
                        .linkedin 
                            i.fa.fa-linkedin
                            span &nbsp;Share
            .info.row
                .tab.col-12.col-lg-8
                    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                        for item, index in productDescriptions
                            li.nav-item
                                a.nav-link(
                                    id=`pills-${item.key}-tab`
                                    data-toggle='pill'
                                    href='#pills-' + item.key
                                    role='tab'
                                    aria-controls='pills-' + item.key
                                    aria-selected=`${index === 0 ? "true" : "false"}`
                                    class={active : index === 0}
                                )= item.name
                    #pills-tabContent.tab-content
                        for item, index in productDescriptions
                            .tab-pane.fade(
                                id='pills-' + item.key
                                role='tabpanel'
                                aria-labelledby=`pills-${item.key}-tab`
                                class={"show active" : index === 0}
                            )= item.info
                .img.col-12.col-lg-4
                    img(src="./../assets/images/Depositphotos_3010981_original1.jpg" alt="wine champagne")
        +title("SẢN PHẨM LIÊN QUAN")
        +slider(champagnes)
    include partials/footer
