extend layouts/layout

block title
    title Trang chủ

block style
    link(rel="stylesheet" href="./css/style.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous"
    )
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Pacifico&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Spectral&display=swap' rel='stylesheet')

block content
    header 
        section.top-header.py-2
            .menu.px-0.px-lg-2.px-xl-5
                .d-none.d-lg-flex
                    for menu, index in menues 
                        a(href=menu.link)= menu.name
                        if index !== menues.length - 1
                            div.mx-2 -
                .d-block.d-lg-none 
                    i.fa.fa-bars.mx-3(
                        id="topMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    )
                    .dropdown-menu.top-menu-dropdown(aria-labelledby='topMenuButton')
                        for menu in menues
                            a.dropdown-item(href=menu.link)= menu.name
            form.search-bar.px-0.px-lg-2.px-xl-5.mx-3.mx-md-0
                input(type="text" name="search" placeholder="Tìm kiếm ở đây ...")
                button(type="submit")
                    i.fa.fa-search
        section.title 
            .main-text Rượu
            .sub-text Since 1980
            .top-text Vang Đỏ
        section.bottom-header 
            .container-xl
                .row 
                    a(href="/").logo.col-2.d-none.d-xl-block
                        img(src="./../assets/images/logo.jpg" alt="")
                    .dropdown.menu.col-12.col-xl-10.d-none.d-md-flex
                        for menu in bottomMenues
                            if menu.active
                                button#dropdownMenuButton.active(data-bs-toggle="dropdown" aria-expanded="false")= menu.name
                            else
                                button
                                    a(href=menu.link)= menu.name
                        .dropdown-menu(aria-labelledby="dropdownMenuButton")
                            .row 
                                .col-12.col-lg-8
                                    .row
                                        for wine in redWineData
                                            .col-4 
                                                .title= wine.title
                                                for item in wine.data
                                                    .item
                                                        a(href="/list-table.html")= item.name
                                .col-12.col-md-4.d-none.d-lg-block
                                    img(src="./../assets/images/Depositphotos_3010981_original1.jpg" alt="")
                    .d-block.d-md-none 
                        i.fa.fa-bars(
                            id="bottomMenuButton"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        )
                        .dropdown-menu.dropdown-menu-right.bottom-menu-dropdown(aria-labelledby='bottomMenuButton')
                            for menu in bottomMenues
                                a.dropdown-item(href=menu.link)= menu.name
    main#homepage
        .introduction
            .content
                +title("GIỚI THIỆU")
                p Vestibulum orci dui, condimentum et sapien ut, lobortis ullamcorper turpis. In vitae sapien vel lectus tincidunt gravida. Aenean scelerisque est ac lorem auctor, non bibendum orci commodo. Nam a iaculis orci, eu pellentesque neque. Phasellus dui sapien, feugiat dictum nulla nec, iaculis fringilla est. Proin feugiat, erat at rutrum pretium, nunc nibh hendrerit risus, in mollis nisi ante non erat. Nam gravida nisl et lacus aliquet, sit amet suscipit erat auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vehicula laoreet feugiat. Ut ut sollicitudin quam, sed lacinia urna. Nullam scelerisque et erat eget condimentum.
                +buttonText("XEM THÊM")
        .bg-grapes
            img(src="./../assets/images/grapes.jpg" alt="green grapes")
        .main-product.container-fluid 
            .row
                .col-12.col-sm-6.img
                    img(src="./../assets/images/df3218bb45274009c6c3d5de8a6b98bf.jpg" alt="alpatago champagne")
                .col-12.col-sm-6.detail 
                    .title RƯỢU NHO NĂM 1987
                    img(src="./../assets/images/titleleft-dark.png" alt="")
                    .price 
                        span 330.000
                        sup đ
                    +buttonText("ADD TO CART")
                    p.description Một hợp chất có trong rượu vang được gọi là Resveratro còn có khả năng ngăn chặn mật độ ôxy hóa cùa protein béo.
                    .data
                        div 334<br>ngày
                        div 26<br>giờ
                        div 60<br>phút
                        div 15<br>giây
        +title("SẢN PHẨM MỚI")
        +productSlider([])
        .images.container-fluid
            .row 
                for img in images
                    .img.col-6.col-md-3.p-0
                        img(src=`./../assets/images/${img.name}` alt=img.alt)
                        .wine-hover 
                            .year 1987
                            .text
                                span RƯỢU
                                .top-border
                                .bottom-border
                                .left-border
                                .right-border
        +title("SẢN PHẨM BÁN CHẠY")
        +productSlider([])
        .bottom-content.container-fluid 
            .row 
                .col-12.col-md-8
                    +title("TIN TỨC & BLOG")
                    .row
                        for blog in newses 
                            .blog-card.col-12.col-sm-6
                                +addBlog(blog)
                .customer.col-12.col-md-4
                    +title("KHÁCH HÀNG")
                    .icon
                        i.fa.fa-quote-right
                    .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                    .readmore Read more
                    .employee-slider
                        for employee in employees
                            .employee-item
                                .thumb-img 
                                    img(src=`./../assets/images/${employee.img}` alt="")
                                .name= employee.name
                                .job= employee.job
                    +dotPagi(3, 1)
    include partials/footer

block module 
    script(type="module" src="./js/vars.js")
    script(type="module" src="./js/apis.js")
    script(type="module" src="./js/index.js")
